@{
    ViewData["Title"] = "Home Page";
}

<setion ids="notes-input">
    <div class="text-center notes-input__form">
        <h1 class="display-4">Welcome to Studybug</h1>
        <p>Enter your notes to create flash cards</p>
        <textarea type="text" name="notesInput" rows="5" width="50%"></textarea>
        <button id="notes-input__button" type="submit" value="Go!" />
    </div>
</setion>

<section id="results">
    
    
</section>